[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=/home/will/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a /home/will/ssh-agent.socket

[Install]
WantedBy=default.target